html, body, .main
  height: 100%

svg
  position: absolute
  top: 0
  left: 0
  pointer-events: none
  
  path
    stroke: rgba(0,0,0,.5)
    stroke-width: 8px
    stroke-linecap: round
    pointer-events: visibleStroke
    fill: none
    &:hover
      stroke: rgba(200,0,0,.5)
    &.dragging
      stroke: rgba(0,0,0,.2)
      pointer-events: none
  
.box
  position: absolute
  width: 140px
  box-shadow: 1px 1px 5px rgba(90,90,90,.3)
  padding: 0 1em
  -webkit-user-select: none
  cursor: move
  
  .close
    margin-right: 0.5em
  
  .port
    cursor: default
    height: 30px
    clear: both
    &::before
      display: block
      content: ""
      width: 20px
      height: 20px
      background: white
      border-radius: 50%
      box-shadow: 1px 1px 5px rgba(90,90,90,.3)
    &.param
      height: 70px
  .input::before
    float: left
    margin-right: 10px
  .output
    text-align: right
    &::before
      float: right
      margin-left: 10px
  
  select
    width: 100%
  div.range
    height: 12px
    margin: 2px 0px
    background: rgba(0,0,0,.2)
    &::before
      content: ""
      display: block
      height: 12px
      border-left: 2px solid rgba(0,0,0,.5)
      
      
  .min-input, .max-input, .value-output
    font-size: 0.8em
    line-height: 0.8em
    padding: 0
    height: 1.2em
    width: 3em
    text-align: right
  .min-input
    position: absolute
    left: 15px
  .max-input
    position: absolute
    right: 15px
  .value-output
    display: block
    padding: 0
    width: 100%
    border: none
    background: transparent
    text-align: center
    
  
    
.login-link-text
  text-decoration: none !important
  color: inherit
  
.madewith_badge
  position: fixed !important
  top: auto !important
  bottom: 0 !important